/*---Corrections Categories Tree----*/
.tree-box {
    text-align: center;
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 30px;
    border: 2px solid #333;
    border-radius: 8px;
}
.sub-box {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.line {
    position: absolute;
    border: 2px solid #333;
}

.line-top-to-box1 {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 55px;
    
}

.line-top-to-box2 {
    top: 90%;
    left: 10%;
    width: 2px;
    height: 75px;
    transform: translateX(-50%);
     transform: rotate(45deg);
    transform-origin: right;
}

.line-top-to-box3 {
   top: 73%;
    left: 90%;
    width: 2px;
    height: 120px;
    transform: translateX(-50%);
     transform: rotate(-50deg);
    transform-origin: right;
}
/*---Corrections Categories Tree End----*/
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: #0a8f20 !important;
    border: 0;
}
.main-bg{
    background-color:#f1f5f7;
}
.main-form-row{
    background-color: #cdd3c9;
    margin-top: 80px !important;
    padding-top: 10px;
}
.main-footer{
 
    bottom: 0;
    left: 0;
    right: 0;
    color:gray !important;
    background-color: whitesmoke !important;
}
.sidebar, aside{
   
    background-color: #056936 !important;
    color: white !important;
    font-style: normal !important;
}
.main-header{
   background-color: #7ebb2b;
}

.nav-sidebar>.nav-item {
    margin-bottom: 0;
    padding-bottom: 15px;
}
.main-header a,.sidebar a, aside a{
    color: white !important;
}

.main-header a:hover,.sidebar a:hover, aside a:hover{
    color: #fdc119 !important;
    transition: scale(1.0);
    font-size: 16px;
    transition: transform 5s;
}
.info-box:hover{
    
    cursor: pointer;
    
    transform: scale(1.1);
    transition: transform 10s;
    bottom: 5px;
}

.search-container {
    position: relative;
    margin-bottom: 20px; 
  }
  
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Floating label styles */
  .floating-label {
    position: absolute;
    top: 0;
    left: 10px;
    pointer-events: none;
    padding: 5px;
    font-size: 12px;
    color: #666;
    transition: 0.2s ease-out;
  }
  
  /* Move the floating label up when the input field is focused or has value */
  input[type="text"]:focus + .floating-label,
  input[type="text"]:not(:placeholder-shown) + .floating-label {
    top: -15px;
    background-color: #fff;
    padding: 0 5px;
    font-size: 10px;
  }
  
  /* Adjust the floating label's color when the input is focused */
  input[type="text"]:focus + .floating-label {
    color: #007bff;
  }
  .info-box .info-box-number{
    font-size:25px !important;
    font-style: normal;
    font-weight: normal;
  }
  .info-box .info-box-text, .info-box .progress-description{
    font-weight:bold !important;
}
  .info-box .info-box-icon{
    width:50px !important;
  }
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.emoji {
    cursor: pointer;
    display: inline-block;
    animation: wobble 10s ease infinite; 
}
@keyframes wobble {
    0% { transform: translateX(0); }
    15% { transform: translateX(-5px) rotate(-5deg); }
    30% { transform: translateX(5px) rotate(5deg); }
    45% { transform: translateX(-5px) rotate(-5deg); }
    60% { transform: translateX(5px) rotate(5deg); }
    75% { transform: translateX(-5px) rotate(-5deg); }
    100% { transform: translateX(0); }
}

/* Apply the wobble animation to the emoji */
.wobble {
    animation: wobble 0.3s ease infinite;
}
@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); /* Adjust this value for the amount of movement */
    }
}
.emoji1{
    animation:moveUpDown 3s infinite;
    display: inline-block;

}

/*--Admin--*/
#admincard{
    padding:20px;

}

/*---Notification Bells---*/

#notification-bell {
    position: relative;
    display: inline-block;
    color:green;
}

.notification-count {
  position: absolute;
    top: -12px;
    right: 1; /* Adjust the right value to control the distance from the bell */
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 10px;

}

.error invalid-feedback{
    color:red;
}

/**---Logged In Users-----**/
    .status-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
    }
    
    .status-dot.active {
        background-color: green; /* Green color for active status */
    }
    
    .status-dot.inactive {
        background-color: red; /* Red color for inactive status */
    }
/**---Logged In Users Status-----**/


/**-----Create Form Hidden Fields-----**/
.hidden {
    display: none;
}
/* CSS classes for button background colors */
    .leave-status-absent {
        background-color: red;
        color: white; 
    }
    
    .leave-status-present {
        background-color: green;
        color: white; 
    }

    .login-box, .register-box {
        width: 550px !important;

    }
/*----Admin Panel Tables----*/
.myticketsassignedtickets,.DepartmentTickets{
	font-size: 15px;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#blinking-icon {
    animation: blink 1s infinite; /* Adjust the duration */
}
.viewtickettopform{
    background-color: #e2f2e3;
    border-bottom: 2px;
    border-color: black;
  }
#ReopenLink{
 color:#056936;
  }
#disabledLink{
    color:red;
}
.spinner {
    font-size: 1em;
    color:#ffa200
  }
  